.root {
	-fx-background-color: #CCCCCC;
}

#menu {
	-fx-background-color: #332E43;
	-fx-text-fill: #FFFFFF;
}

#button_menu {
	-fx-text-fill: #FFFFFF60;
}

#button_menu:hover {
	-fx-text-fill: #FFFFFF80;
}

#button_menu:pressed {
	-fx-text-fill: #FFFFFF;
}

#button_focus {
	-fx-text-fill: #FFFFFF;
}

#button_main {
	-fx-background-color: #5A59B1;
	-fx-text-fill: #FFFFFF;
}

#button_main:hover {
	
}

#button_main:focus {
	
}